{% extends 'registration/login.html' %}
{% block title %}500 Page{% endblock %}

{% block body %}
	<div class="error-pagewrap">
		<div class="error-page-int">
			<div class="content-error">
				<h1>Server Error <span class="counter"> 500</span></h1>
				<p>The server encountered something unexpected that didn't allow it to complete the request. We apologize.</p>
				
			</div>
			<div class="text-center login-footer">
        <p>Copyright © 2024. All rights reserved. Designed by <a href="https://Facebook.com/TapiwaMuravu">TrustarkTech</a></p>
    </div>
		</div>   
    </div>
{% endblock %}